@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<img src="~/images/vnn.png" alt="Logo" />
    <p >Welcome to Our Team </p>
	<p>We are glad to have you here.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Citiy" asp-action="Index">City</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
